html {
    background-color: rgba(0,0,0,0.9);
}
html,
body,
session,
div,
ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    color: thistle;
    font-size: 90%
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
}
.logo {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img {
    display: flex;
    align-items: center;
    justify-content: center;
}